

.container{
           display:grid;
            grid-gap:0.5;
           grid-template-rows:15% auto 15%;
           grid-template-columns:auto;
           margin:3%;
           
           
}

.navbar{
        background-color:yellow;
        
        display:flex;
        justify-content:space-between;
        padding-top:3%;
        padding-right:3%;
        padding-left:3%;
        
                
        
}


.content{
        background-color:darkgray;
        
         
}

h2{
   text-align:center;
   background-color:white;
   margin-top:0.3%;
}

.footer{
        background-color:lime;
        
}

.footer {
	display:flex;
        justify-content:space-between;
        padding-top:2%;
        padding-left:10%;
        padding-right:10%;
        
}

.my-box{
        background-color:white;
}       

.box{
     display:flex;
     justify-content:space-between;
     padding-left:20%;
	 padding-right:20%;
     
     margin:0.3%;
     
     
     
     
}

.fix-me{
        position:fixed;
        top:40%;
        background-color:red;
        padding-left:0%;
        
}

.sub-header{
             padding-left:10%;
             padding-bottom:0.5%;
             background-color:yellow;
             margin-top:1%;
             
}

.header-item{
             padding-left:160;
             
}

.strong2{
	padding-right:
}
.bonus2{
	padding-right:
}
.strong3{
	margin-right:;
}
.bonus3{
	margin-right:;
}
.my-box-item{
	padding-left:
}
.my-box-item2{
	padding-right
}









